<div *ngIf="tests.length==0 && visible && !createComponentVisible">
<h5 >No tests</h5>
<input *ngIf="isTutor()" type="submit" class="btn btn-secondary mb-3" value="Add test"
       (click)="openCreateTestComponent()">
</div>

<app-create-test *ngIf="createComponentVisible" [subjectId]="subjectId"
(back) = setTestListComponentVisible()></app-create-test>
<div *ngIf="tests.length > 0 && visible && !createComponentVisible" >
  <h1>List of tests</h1>
  <input *ngIf="isTutor()" type="submit" class="btn btn-secondary mb-3" value="Add test"
  (click)="openCreateTestComponent()">
<table class="table table-striped">
  <thead>
  <tr>
    <td>Test name</td>
    <td>Description</td>
    <td></td>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let test of tests">
    <td>{{test.name}}</td>
    <td>{{test.description}}</td>
    <td>
      <input type="button" value="Pass" class="btn btn-success" (click)="passTest(test.id, test.name)">
    </td>
  </tr>
  </tbody>
</table>
</div>

<app-test *ngIf="!visible && !createComponentVisible" (back)="setTestListComponentVisible()"
[testName]="selectedTestName" [testId]="selectedTestId"></app-test>


